* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(211, 211, 211);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 400px;
  border: 1px solid rgb(0, 0, 0);
 
}

li a {
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 8px 16px;
  
  border: 1px solid rgb(60, 179, 113);
  font-size: 18px;
  
}

li a:hover{
  background-color: rgb(60, 179, 113);
}

#pagina-sucesso {

  background-color: #00a5dd;

}

.animacao {

  box-shadow: 0px 0px 0px 0px;
  margin-left: 20%;
  margin-top: 3%;
  width: 60%;

}

botao-enviar {
  width: 30px;
}

.envio-sucesso {
  width: 50%;
}

/* Style the header */
header {
  background-color: rgb(60, 179, 113);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: rgba(255, 166, 0, 0.356);
  padding: 20px;
  z-index: 0;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #d1d0cf;
  padding: 10px;
  box-shadow: 13px 13px 30px rgb(145, 145, 145) inset;
  z-index: 1;
}

/* Style the footer */
footer {
  background-color: rgb(60, 179, 113);
  padding: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
}

table, th, td {
  
  border:1px solid black;
 
}

table{
  width: 50%;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  text-shadow: 5px 5px 5px #050505;
  font-family: "roboto";
}

h2 {
  font-size: 25px;
  color: rgb(32, 32, 32);
  font-family: "roboto";
}

p {
  font-size: 20px;
  line-height: 50px;
  font-family: "Times New Roman", Times, serif;
}

strong {
  color: rgb(210, 105, 30);
}

li {
  font-size: 25px;
  font-family: "roboto";
}

div {

  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid rgb(0, 0, 0);
  margin: 0;
}

.campo-linkedin {
  width: 50%;
}

.imagem-contato {
  width: 34%;
}

a {
  text-decoration: none;
}

img {
  box-shadow: 3px 3px 10px 1px #0c0c0c;
}

p.formulario {
  border-style: solid;
  border-width: small;
}

h2.contato {

  border-left-style: solid;
  border-right-style: solid;
  padding-left: 3px;
  margin-right: 85%;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  h2.contato {
    margin-right: 200px;
  }
}